.app {
  background: linear-gradient(0deg, rgba(132,164,164,1) 69%, rgba(172,194,194,1) 96%);
  width: 100vw;
  height: 100vh;
  padding: 2vh;
}

.resume-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5vh;
  width: min-content;
  border-radius: 5px;
}

.draggable {
  width: min-content;
}

.react-pdf__Page__canvas {
  border-radius: 10px;
}